<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select One Actor</title>
</head>
<body>
    <h1>Select One Actor</h1>
    <div>
        {% for actor in actors %}
        <form action="{{ url_for('search_gifs') }}" method="GET">
            <input type="hidden" name="query" value="{{ actor.name }}">
            <input type="hidden" name="movie_id" value="{{ movie_id }}">
            <button type="submit">
                <img src="https://image.tmdb.org/t/p/w500{{ actor.profile_path }}" alt="{{ actor.name }}" width="100">
                <p>{{ actor.name }}</p>
            </button>
        </form>
        
        {% endfor %}
    </div>
</body>
</html>
